.header {
  height: 62px;
  background-color: var(--bg-header);
  display: flex;
  align-items: center;
  padding-left: 41px;
}

.header h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--font-primary);
}
